# Use text mode install
text
# Agree to EULA
eula --agreed
# Reboot after installation
reboot

# Install source
url --url="https://vault.almalinux.org/9.4/BaseOS/x86_64/os/"
repo --name="AppStream" --baseurl="https://vault.almalinux.org/9.4/AppStream/x86_64/os/"

# System language and keyboard
lang en_US.UTF-8
keyboard us
# System timezone
timezone UTC

# Network information (DHCP)
network --bootproto=dhcp --device=link --activate

# Root password and Ansible user provisioning
rootpw --plaintext toor
user --name=ansible --groups=wheel --plaintext --password=ansible

# Disk Partitioning Information (Pair A Layout)
clearpart --all --initlabel --drives=vda

# UEFI and Boot Partitions
part /boot/efi --fstype="efi" --size=600 --fsoptions="umask=0077,shortname=winnt"
part /boot --fstype="xfs" --size=1024

# LVM Physical Volume and Volume Group
part pv.01 --fstype="lvmpv" --size=1 --grow
volgroup vg_sys_a pv.01

# CIS Level 1 Required Logical Volumes
logvol /var            --fstype="xfs"  --size=2048 --name=var           --vgname=vg_sys_a
logvol /var/log        --fstype="xfs"  --size=1024 --name=var_log       --vgname=vg_sys_a
logvol /var/log/audit  --fstype="xfs"  --size=1024 --name=var_log_audit --vgname=vg_sys_a
logvol /var/tmp        --fstype="xfs"  --size=1024 --name=var_tmp       --vgname=vg_sys_a
logvol swap            --fstype="swap" --size=1024 --name=swap          --vgname=vg_sys_a

# Pair A Assigned Extra Logical Volume
logvol /opt            --fstype="xfs"  --size=2048 --name=lv_opt        --vgname=vg_sys_a

# Root Partition
logvol /               --fstype="xfs"  --size=4096 --name=root          --vgname=vg_sys_a --grow

# Minimal package installation
%packages
@^minimal-environment
cloud-init
%end
